In [14]:
ll=['A','B','C','D']
l=[]
for x in range(1,21):
    lll=[]
    for z in range(0,4):
        ge=str(x)+"."+str(ll[z])
        lll.append(ge)
    l.append(lll)
print(l)

[['1.A', '1.B', '1.C', '1.D'], ['2.A', '2.B', '2.C', '2.D'], ['3.A', '3.B', '3.C', '3.D'], ['4.A', '4.B', '4.C', '4.D'], ['5.A', '5.B', '5.C', '5.D'], ['6.A', '6.B', '6.C', '6.D'], ['7.A', '7.B', '7.C', '7.D'], ['8.A', '8.B', '8.C', '8.D'], ['9.A', '9.B', '9.C', '9.D'], ['10.A', '10.B', '10.C', '10.D'], ['11.A', '11.B', '11.C', '11.D'], ['12.A', '12.B', '12.C', '12.D'], ['13.A', '13.B', '13.C', '13.D'], ['14.A', '14.B', '14.C', '14.D'], ['15.A', '15.B', '15.C', '15.D'], ['16.A', '16.B', '16.C', '16.D'], ['17.A', '17.B', '17.C', '17.D'], ['18.A', '18.B', '18.C', '18.D'], ['19.A', '19.B', '19.C', '19.D'], ['20.A', '20.B', '20.C', '20.D']]

In [11]:
#doc csv
import pandas as pd

mycsv=pd.read_csv('data.csv')
df=pd.DataFrame(mycsv)
df

         Q   A   B   C   D Answer
0    1+1=?   2   3   4   5      A
1    2+2=?   3   4   5   6      A
2    3+3=?   4   5   6   7      A
3    4+4=?   5   6   7   8      A
4    5+5=?   7   8   9  10      A
5    6+6=?  12   9  10  11      A
6    7+7=?  14  15  16  17      A
7    8+8=?  16  17  18  19      A
8    9+9=?  18  19  20  21      A
9  10+10=?  20  21  22  23      B

In [25]:
df.values

array([['1+1=?', 2, 3, 4, 5, 'A'],
       ['2+2=?', 3, 4, 5, 6, 'B'],
       ['3+3=?', 4, 5, 6, 7, 'C'],
       ['4+4=?', 5, 6, 7, 8, 'D'],
       ['5+5=?', 7, 8, 9, 10, 'D'],
       ['6+6=?', 12, 9, 10, 11, 'A'],
       ['7+7=?', 14, 15, 16, 17, 'A'],
       ['8+8=?', 16, 17, 18, 19, 'A'],
       ['9+9=?', 18, 19, 20, 21, 'A'],
       ['10+10=?', 20, 21, 22, 23, 'A']], dtype=object)

In [19]:

ll=['Cau','A','B','C','D']
l=[]
for x in range(1,21):
    lll=[]
    for z in range(0,5):
        ge=str(x)+"."+str(ll[z])
        lll.append(ge)
    l.append(lll)
print(l)
df = pd.DataFrame(l)
df.to_csv("data.csv",index=False)

[['1.Cau', '1.A', '1.B', '1.C', '1.D'], ['2.Cau', '2.A', '2.B', '2.C', '2.D'], ['3.Cau', '3.A', '3.B', '3.C', '3.D'], ['4.Cau', '4.A', '4.B', '4.C', '4.D'], ['5.Cau', '5.A', '5.B', '5.C', '5.D'], ['6.Cau', '6.A', '6.B', '6.C', '6.D'], ['7.Cau', '7.A', '7.B', '7.C', '7.D'], ['8.Cau', '8.A', '8.B', '8.C', '8.D'], ['9.Cau', '9.A', '9.B', '9.C', '9.D'], ['10.Cau', '10.A', '10.B', '10.C', '10.D'], ['11.Cau', '11.A', '11.B', '11.C', '11.D'], ['12.Cau', '12.A', '12.B', '12.C', '12.D'], ['13.Cau', '13.A', '13.B', '13.C', '13.D'], ['14.Cau', '14.A', '14.B', '14.C', '14.D'], ['15.Cau', '15.A', '15.B', '15.C', '15.D'], ['16.Cau', '16.A', '16.B', '16.C', '16.D'], ['17.Cau', '17.A', '17.B', '17.C', '17.D'], ['18.Cau', '18.A', '18.B', '18.C', '18.D'], ['19.Cau', '19.A', '19.B', '19.C', '19.D'], ['20.Cau', '20.A', '20.B', '20.C', '20.D']]

In [10]:
#doc csv
import pandas as pd

mycsv=pd.read_csv('data2.csv')
df=pd.DataFrame(mycsv)
shuffled_df = df.sample(n=len(df))
shuffled_df = shuffled_df.reset_index(drop=True)
csvList=shuffled_df.values
ansList=[]
for x in range(0,10):
    ansList.append(csvList[x][-1])
print('---List---')
print(csvList)
print('---ansList---')
print(ansList)

---List---
[['1+1=?' 2 3 4 5 'A']
 ['8+8=?' 16 17 18 19 'A']
 ['4+4=?' 5 6 7 8 'D']
 ['9+9=?' 18 19 20 21 'A']
 ['6+6=?' 12 9 10 11 'A']
 ['5+5=?' 7 8 9 10 'D']
 ['7+7=?' 14 15 16 17 'A']
 ['3+3=?' 4 5 6 7 'C']
 ['2+2=?' 3 4 5 6 'B']
 ['10+10=?' 20 21 22 23 'A']]
---ansList---
['A', 'A', 'D', 'A', 'A', 'D', 'A', 'C', 'B', 'A']